!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}

    %title Weather

    %link{rel: 'stylesheet', href: '//fonts.googleapis.com/css?family=Create+Round'}
    %link{rel: 'stylesheet', href: '/stylesheets/style.css'}


    %meta{name: "viewport", content: "width=device-width,initial-scale=1.0,maximum-scale=1.0"}

    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-status-bar-style", content: "black"}
  %body
    %h1#title weather
    #error
    .container

    %script{src: "/javascripts/jquery.js"}
    %script{src: "/javascripts/handlebars.js"}
    %script{src: "/javascripts/template.js"}
    %script{src: "//www.geoplugin.net/javascript.gp"}
    %script{src: "/javascripts/script.js"}

    :javascript
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4fb70abbf5a1f544c0000009');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
