// Button Groups
//
// Logically grouped buttons
// Inspired by Twitter's Bootstrap
// http://twitter.github.com/bootstrap

.button-group {
  position: relative;
  @include clearfix();
}

// space out series of button groups
.button-group + .button-group { margin-left: 5px; }

// group serveral button groups together to make a toolbar
.button-toolbar {
  margin: $base-line-height / 2 0;
  .button-group {
    display: inline-block;
  }
}

.button-group {
  button, input[type="button"], input[type="submit"], input[type="reset"], a.button {
    position: relative;
    float: left;
    margin-left: -1px;
    @include border-radius(0);

    &:first-child { margin-left: 0; @include border-left-radius(4px); }
    &:last-child { @include border-right-radius(4px); }

    // special for large buttons
    &.large:first-child { margin-left: 0; @include border-left-radius(6px); }
    &.large:last-child { @include border-right-radius(6px); }
  }
}
