/* =============================================================================
   Basics
   ========================================================================== */

body {
  font-family: $sans;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: #444;
  background: #fff;
}

small {
  font-size: $base-font-size - 2;
  color: lighten(#444, 5%);
}

p {
  margin-bottom: $base-line-height / 2;
}

hr {
  margin: $base-line-height 0;
  border: 0;
  border-bottom: 1px solid #bbb;
}

a, a:visited {
  text-decoration: none;
  color: $link-color;
}

a:hover {
  color: $link-color-hover;
}

/* =============================================================================
   Headings
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: $sans;
  font-weight: bold;
  margin-top: $base-line-height / 2;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: $h1-size;
  line-height: $h1-line-height;
  margin-bottom: $h1-margin;
}

h2 {
  font-size: $h2-size;
  line-height: $h2-line-height;
  margin-bottom: $h2-margin;
}

h3 {
  font-size: $h3-size;
  line-height: $h3-line-height;
  margin-bottom: $h3-margin;
}

h4 {
  font-size: $h4-size;
  line-height: $h4-line-height;
  margin-bottom: $h4-margin;
}

h5 {
  font-size: $h5-size;
  line-height: $h5-line-height;
  margin-bottom: $h5-margin;
}

h6 {
  font-size: $h6-size;
  line-height: $h6-line-height;
  margin-bottom: $h6-margin;
}

/* =============================================================================
   Blockquotes
   ========================================================================== */

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 $base-line-height;
  border-left: 5px solid lighten($gray-light, 10);

  p {
    margin-bottom: 0;
  }

  cite {
    display: block;
    font-size: $base-font-size;
    color: $gray-light;

    &:before {
      content: "\2014 \0020";
    }
  }

  &.pull-right {
    float: right;
    padding-left: 0;
    padding-right: 15px;
    border-left: 0;
    border-right: 5px solid $gray-light;

    p, cite {
      text-align: right;
    }
  }
}

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol {
  padding: 0;
  margin: 0 0 $base-line-height / 2 25px;
}

ul ul, ul ol, ol ol, ol ul { margin-bottom: 0; }

ul { list-style: square outside; }
ol { list-style: decimal; }
li { line-height: $base-line-height; }

ul {
  &.unstyled, &.circle, &.disc { margin-left: 0; }

  &.unstyled { list-style: none outside; }
  &.circle { list-style: circle outside; }
  &.disc { list-style: disc outside; }
}

dl {
  margin-bottom: $base-line-height;
  &.horizontal {
    dt {
      float: left;
      width: 120px;
      clear: left;
      text-align: right;
    }
    dd {
      margin-left: 130px;
    }
  }
}

dt, dd {
  line-height: $base-line-height;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: $base-line-height / 2;
}

/* =============================================================================
   Code
   ========================================================================== */

code, pre {
  font-family: $mono;
  font-size: $base-font-size - 2;
  line-height: $base-line-height;
  background: $code-background;
  border: 1px solid lighten($gray-light, 20%);
  color: #444;
}

code {
  padding: 1px 3px;
  border-radius: 3px;
}

pre {
  display: block;
  padding: $base-line-height / 2;

  code {
    padding: 0;
    background-color: transparent;
    border: none;
  }
}

/* =============================================================================
   Misc
   ========================================================================== */

// Abbreviations and acronyms
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #ddd;
}
